* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  padding: 2rem;
  color: rgb(255, 255, 255);
}
.container {
  background-color: #fff;
  padding: 2rem;
  border: 2px solid beige;
  border-radius: 8px;
  width: 80%;
  margin-left: 10%;
  box-shadow: 0 4px 8px rgba(218, 69, 69, 0.5);
}
h1 {
  text-align: center;
  color: #333;
}
#task-list,#pinned-list,#folders-list {
  gap: 3rem;
  padding: 25px;
  color: black;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#tasks-section, #folders-section {
  margin-top: 1rem;
}

.task_info {
  padding: 20px;
  border-radius: 12px;
  background: linear-gradient(15deg, rgb(150, 169, 255), #00000062);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  border: 2px solid whitesmoke;
}

#pinned-list .task_info {
  width: 235px;
}

.task-item {
  background-color: #ffffff;
  padding: 16px 20px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #dcdfe3;
  color: #333;
  font-size: 15px;
  line-height: 1.6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.completed {
  background-color: #03ffcd !important;
  text-decoration: line-through;
}

.task_info .completed {
  margin-top: 30px;
}

.add {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.task-form button {
  background-color: #000000;
  color: rgb(217, 218, 208);
  padding: 13px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 16px;
  margin-left: 33%;
  width: 300px;
}
.task-form button:hover {
  background: #0056b3;
}
.add:hover {
  opacity: 0.8;
}
.task-form input[type="text"],
.task-form input[type="date"],
.task-form select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}
#pinned-list {
  display: flex;
  padding: 25px;
  gap: 40px;
  width: 225%;
}
h1 {
  color: #564caf;
}
.buttons {
  display: flex;
  width: 200px;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  flex-wrap: wrap;
}
.btn {
  background-color: #000000;
  color: rgb(217, 218, 208);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
.hide {
  display: none;
}
.show {
  display: block;
}
#mark_cmp:hover {
  background-color: rgb(140, 240, 25);
  border-radius: 10px;
  color: rgb(18, 14, 14);
  transition: 0.7s;
}
#delete:hover {
  background-color: #e7311d;
  border-radius: 10px;
  color: rgb(18, 14, 14);
  transition: 0.7s;
}
#edit:hover {
  background-color: rgb(58, 172, 238);
  border-radius: 10px;
  color: rgb(18, 14, 14);
  transition: 0.7s;
}

.pin {
  left: 82%;
}

.add-to-folder, .remove-from-folder {
  right: 14%;
}

.pin, .add-to-folder, .remove-from-folder {
  color: #ffffff;
  position: relative;
  bottom: 6px;
  background: #000000;
  font-size: medium;
  padding: 0.5rem;
  border: 2px solid rgb(150, 169, 255);
  border-radius: 12px;
  cursor: pointer;
}
.pin:hover, .add-to-folder:hover, .remove-from-folder:hover {
  transform: scale(1.2);
  transition: 1s;
  border-radius: 10px;
}

.remove-from-folder {
  font-size: large;
}

#filter, #refresh, #folder {
  position: relative;
  top: -34px;
  color: #ffffff;
  background: #000000;
  font-size: medium;
  padding: 0.5rem;
  border: 2px solid rgb(150, 169, 255);
  border-radius: 12px;
  cursor: pointer;
}

#filter {
  left: 85%;
}
#filter:hover {
  transform: scale(1.2);
  transition: 1s;
}

#refresh {
  left: 86%;
}
#refresh:hover {
  transform: scale(1.2);
  transition: 1s;
}

#folder {
  left: 84%;
}
#folder:hover {
  transform: scale(1.2);
  transition: 1s;
}

#message{
  font-size:x-large;
  background-color: rgb(128, 240, 133);
  border-radius: 10px;
  color:black;
  width: 35%;
  padding: 17px 38px;
  margin-left: 33%;
}


.folder_info {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgb(255, 255, 255);
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 140px;
  color: #fff;
  cursor: pointer;
}

.folder_info p {
  align-self: center;
  margin-top: 20px;
  font-weight: 700;
} 

.folder-icon {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding-right: 8px;
}